*
{
	margin: 0px;
	padding: 0px;
}
.fix_contain
{
	width: 100%;
	height: auto;
}
.contain
{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
body{

}
.top_bar{
	background: #333333;
	display: block;
	padding: 40px;
	padding-top: 3px;
}
.top_barA{
	color: #CBCBCB;
	line-height: normal;
}
.top_barA .N_E_A{
	display: block;
	padding: 10px;
}
.top_barA .N_E_A li{
	list-style: none;
	float: left;
	margin: 5px;
	margin-right: 5px;
	border: 1px solid #5B5B5B;
}
.top_barA .N_E_A li span{
	padding: 5px;
}
.top_barA .N_E_A .N_L_A{
	padding: 10px;
	padding-bottom: 4px;
}
.top_barA .N_E_A .E_L_A{
	padding: 10px;
}
.top_barA .top_menu{
	display: inline;
	float: right;
}
.top_barA .top_menu ul{
	list-style: none;
}
.top_barA .top_menu ul li{
	float: left;
}
.top_barA .top_menu ul li a{
	text-decoration: none;
	margin: 5px;
	padding: 10px;
	color: #CBCBCB;
	border: 1px solid #5B5B5B;
}
.top_barA .top_menu ul li a img{
	width: 20px;
	height: 20px;
	margin-top: -6px;
}




.rowA{
	background:url("img/02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: block;
	width: 100%;
	height: auto;
}
.top_second_all{

}
.rowA .top_header{
	display: block;
	background-color: #080808;
	margin-top: 100px;
	line-height: 1;
	text-transform: uppercase;
	padding: 20px;
	padding-bottom: 54px;
	z-index: 55;

}
.rowA .top_header h1 a{
	text-decoration: none;	
	float: left;
	font-size: 25px;
	font-family: none;
	text-shadow: none;
	display: inline;
	margin-left: 20px;
	margin-top: 4px;
	color: #CBCBAE;
}
.rowA .top_second_menu{
	float: right;
}
.rowA .top_second_menu ul{
	list-style: none;
}
.rowA .top_second_menu ul li{
	float: left;
	position: relative;
}
.rowA .top_second_menu ul li a{
	text-decoration: none;
	display: block;
	color: #ECECEE;
	padding: 26px 15px;
	margin-top: -17px;
	transition: all 0.4s ease;
}
.rowA .top_second_menu ul li a:hover{
	color: #E5BF4F;
}
.rowA .top_second_menu ul li:hover a:active{
	transition: all 0.1s;
}
.rowA .top_second_menu ul li a:active{
	color: #F7EC56;
}
.rowA .top_second_menu ul li ul{
	list-style: none;
	position: absolute;
	left: -999999px;
	z-index: 5555;
}
.rowA .top_second_menu ul li:hover  ul{
	left: 0;
}
.rowA .top_second_menu ul li ul li{
	float: none;
	background: #000000;
	width: 170px;
	height: auto;
	margin-bottom: -8px;
	text-align: center;
	border-left: 2px solid #3F513B;
	border-right: 2px solid #3F513B;
	border-top: 2px solid #3F513B;
	position: relative;
}
.rowA .top_second_menu ul li ul li:last-child{
	border-bottom: 2px solid #3F513B;
}
.rowA .top_second_menu ul li ul li a{
	text-decoration: none;
}
.rowA .top_second_menu ul li ul li a:last-child{
	margin-bottom: -10px;
}
.rowA .top_second_menu ul li ul li ul{
	position: absolute;
	left: 169px;
	top: -99999px;
}
.rowA .top_second_menu ul li ul li:hover ul{
	top: 0;
	left: 169px;
}
.rowA .top_second_menu ul li ul li ul li{
	float: none;
	background: #000000;
	width: 170px;
	height: auto;
}
.rowA .top_second_menu ul li ul li ul li a{
	text-decoration: none;
}
.page_intro{
	margin-top: 136px;
	margin-bottom: 132px;
}
.page_intro article{
	display: block;
	max-width: 50%;
}
.page_intro article h1{
	margin-bottom: 30px;
    font-size: 42px;
    letter-spacing: 2px;
	color: #ffffff;

}
.page_intro article p{
	font-size: 23px;
	margin-bottom: 20px;
	line-height: 1.4;
	color: #ffffff;
}
.page_intro article footer{
	background: #FFA500;
	display: inline-block;
	transition: all 0.8s ease;
}
.page_intro article footer:hover{
	background: none;
}
.page_intro article footer a{
	text-decoration: none;
	text-align: center;
	color: #fff;
    display: inline-block;
    padding: 15px 18px 10px;
    text-transform: uppercase;
    border: 1px solid;
}
.half_one{
	width: 400px;
	float: left;
	display: block;
	margin-top: 100px;
	margin-bottom: 100px;
}
.half_one img{
	width: 104%;
	height: auto;
	padding: 8px;
	border: 1px solid #D7D7D7;
}
.half_two{
	width: 470px;
	text-align: justify;
	float: right;
	margin-top: 104px;
	margin-bottom: 100px;
	color: #474747;
    text-align: left;
    word-wrap: break-word;
	margin-right: 36px;
	font-size: 20px;
}
.half_two p{
	font-size: 17px;
	margin-bottom: 10px;
}
.half_two h3{
	font-size: 26px;
	margin-bottom: 30px;
	color: #756767;
}
.half_two blockquote{
	padding: 10px;
	padding: 0px 31px;
	font-size: 17px;
	margin-top: 17px;
	margin-bottom: 17px;
	padding-top: 5px;
	padding-bottom: 5px; 
	background: #E5E8DD;
	border-radius: 16px;
}
.half_two footer{
	background: #EB874B;
	display: inline-block;
	border: 1px solid #000000;
	transition: all 0.5s ease;
}
.half_two footer:hover{
	background: none;
}
.half_two footer a{
	text-decoration: none;
	color: #000000;
	padding: 5px 7px;
}
.hr_top{
	display: block;
	margin-top: 100px;
	margin-bottom: 80px;
	padding: 0px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #D7D7D7;
	border-width: 1px 0px 0px;
}
.center_btmspace{
	
}
.center_btmspace h6{
	font-size: 25px;
	text-align: center;
	text-transform: lowyercase;
	margin-bottom: 30px;
	color: #756767;
}
.center_btmspace p{
	text-align: center;
	font-size: normal;
	text-transform: normal;
	margin-bottom: 50px;
	color: #868686;
}


.center_article{
	text-decoration: none;
	list-style: none;
}

.center_article .top_first{
	width: 310px;
	height: auto;
	float: left;
	margin-left: -31px;
}
.center_article .top_first article{
	position: relative;
}
.center_article .top_first a{
	text-decoration: none;
}
.center_article .top_first a img{
	width: 35px;
	height: 35px;
	border: 1px solid #D7D7D7;
	padding: 10px;
	position: absolute;
	line-height: 48px;
	left: 0px;
	top: 0px;
	display: block;
	transition: all 0.5s ease;
}
.center_article .top_first a img:hover{
	background: #FFA500;
}
.center_article .top_first h3{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: 169.75px;
	height: auto;
	margin-bottom: 21px;
	color: #756767;
}
.center_article .top_first p{
	margin-left: 77px;
	display: block;
	overflow: hidden;		width: 255.75px;
	height: auto;
	margin-bottom: 19px;
	color: #868686;
}
.center_article .top_first footer{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: auto;
	height: auto;
}
.center_article .top_first footer a{
	text-decoration: none;
	color: #F6B44C;
}


.center_article .top_second{
	width: 310px;
	height: auto;
	float: left;
	margin-left: 64px;
}
.center_article .top_second article{
	position: relative;
}
.center_article .top_second a{
	text-decoration: none;
}
.center_article .top_second a img{
	width: 35px;
	height: 35px;
	border: 1px solid #D7D7D7;
	padding: 10px;
	position: absolute;
	line-height: 48px;
	left: 0px;
	top: 0px;
	display: block;
	transition: all 0.5s ease;
}
.center_article .top_second a img:hover{
	background: #FFA500;
}
.center_article .top_second h3{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: 188.75px;
	height: auto;
	margin-bottom: 21px;
	color: #756767;
}
.center_article .top_second p{
	margin-left: 77px;
	display: block;
	overflow: hidden;		width: 255.75px;
	height: auto;
	margin-bottom: 19px;
	color: #868686;
}
.center_article .top_second footer{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: auto;
	height: auto;
}
.center_article .top_second footer a{
	text-decoration: none;
	color: #F6B44C;
}



.center_article .top_third{
	width: 310px;
	height: auto;
	float: right;
	margin-right: -56px;
}
.center_article .top_third{
	width: 310px;
	height: auto;
}
.center_article .top_third article{
	position: relative;
}
.center_article .top_third a{
	text-decoration: none;
}
.center_article .top_third a img{
	width: 35px;
	height: 35px;
	border: 1px solid #D7D7D7;
	padding: 10px;
	position: absolute;
	line-height: 48px;
	left: 0px;
	top: 0px;
	display: block;
	transition: all 0.5s ease;
	z-index: 20;
}
.center_article .top_third a img:hover{
	background: #FFA500;
	z-index: -10;
}
.center_article .top_third h3{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: 188.75px;
	height: auto;
	margin-bottom: 21px;
	color: #756767;
}
.center_article .top_third  p{
	margin-left: 77px;
	display: block;
	overflow: hidden;		width: 255.75px;
	height: auto;
	margin-bottom: 19px;
	color: #868686;
}
.center_article .top_third footer{
	margin-left: 77px;
	display: block;
	overflow: hidden;
	width: auto;
	height: auto;
}
.center_article .top_third footer a{
	text-decoration: none;
	color: #F6B44C;
}


.second_center{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: inline-block;
	color: #ffffff;
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 44px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.second_center .center_second_article{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: block;
}
.second_center .center_second_article h2{
	margin-top: 38px;
}
.second_center .center_second_article p{
	margin-top: 12px;
}
.second_center .center_second_article footer{
	display: inline-block;
	float: right;
	margin-top: -30px;
}
.second_center .center_second_article footer a{
	text-decoration: none;
	background: #FFA500;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 20px;
	transition: all 0.5s ease;
}
.second_center .center_second_article footer a:hover{
	color: #fffffff;
	background: none;
	border: 1px solid #ffffff;
}
.font_x1{
	margin-bottom: 50px;
}
.font_x1 h3{
	text-align: center;
	font-size: 30px;
	color: #756767;
}
.font_x1 p{
	text-align: center;
	font-size: 17px;
	color: #868686;
}





.home_post{
	margin-bottom: 100px;
}
.home_post ul{
	list-style: none;
}
.home_post ul .center_first{
	width: 310px;
	height: auto;
	float: left;
	margin-right: 10px;
}
.home_post ul .center_first article{
	width: 310px;
	height: auto;

}
.home_post ul .center_first article figure{

}
.home_post ul .center_first article figure a img{
	width: 310px;
	height: 240px;
}
.home_post ul .center_first article figcaption{
	background: #222222;
	padding: 10px 10px;
	display: block;
	font-size: 14px;
	margin-top: -4px;
}
.home_post ul .center_first article figcaption time{
	color: #868686;
}
.home_post ul .center_first article figcaption .by_A {
	color: #868686;
	float: right;
}
.home_post ul .center_first article figcaption .by_A a{
	text-decoration: none;
	color: #FFA500;
}
.full_in{
	line-height: 1.4em;
	padding: 10px 26px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	transition: all 0.4s ease;
}
.full_in:hover{
	background: #F7F7F7;
}
.home_post ul .center_first article .full_in h4{
	font-size: 20px;
	color: #756767;
	margin-top: 5px;
}
.home_post ul .center_first article .full_in  p{
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: none;
	color: #756767;
	text-align: justify;
	line-height: 1.2em;
}
.home_post ul .center_first article .full_in footer{
	margin-bottom: 10px;
}
.home_post ul .center_first article .full_in footer a{
	text-decoration: none;
	color: #F4C44F;
}






.home_post ul .center_second{
	width: 310px;
	height: auto;
	float: left;
	margin-left: 5px;
}
.home_post ul .center_second article{
	width: 310px;
	height: auto;

}
.home_post ul .center_second article figure{

}
.home_post ul .center_second article figure a img{
	width: 310px;
	height: 240px;
}
.home_post ul .center_second article figcaption{
	background: #222222;
	padding: 10px 10px;
	display: block;
	font-size: 14px;
	margin-top: -4px;
}
.home_post ul .center_second article figcaption time{
	color: #868686;
}
.home_post ul .center_second article figcaption .by_A {
	color: #868686;
	float: right;
}
.home_post ul .center_second article figcaption .by_A a{
	text-decoration: none;
	color: #FFA500;
}
.full_in{
	line-height: 1.4em;
	padding: 10px 26px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	transition: all 0.4s ease;
}
.full_in:hover{
	background: #F7F7F7;
}
.home_post ul .center_second article .full_in h4{
	font-size: 20px;
	color: #756767;
	margin-top: 5px;
}
.home_post ul .center_second article .full_in  p{
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: none;
	color: #756767;
	text-align: justify;
	line-height: 1.2em;
}
.home_post ul .center_second article .full_in footer{
	margin-bottom: 10px;
}
.home_post ul .center_second article .full_in footer a{
	text-decoration: none;
	color: #F4C44F;
}






.home_post ul .center_third{
	width: 310px;
	height: auto;
	float: right;
	margin-left: 10px;
}
.home_post ul .center_third article{
	width: 310px;
	height: auto;

}
.home_post ul .center_third article figure{

}
.home_post ul .center_third article figure a img{
	width: 310px;
	height: 240px;
}
.home_post ul .center_third article figcaption{
	background: #222222;
	padding: 10px 10px;
	display: block;
	font-size: 14px;
	margin-top: -4px;
}
.home_post ul .center_third article figcaption time{
	color: #868686;
}
.home_post ul .center_third article figcaption .by_A {
	color: #868686;
	float: right;
}
.home_post ul .center_third article figcaption .by_A a{
	text-decoration: none;
	color: #FFA500;
}
.full_in{
	line-height: 1.4em;
	padding: 10px 26px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	transition: all 0.4s ease;
}
.full_in:hover{
	background: #F7F7F7;
}
.home_post ul .center_third article .full_in h4{
	font-size: 20px;
	color: #756767;
	margin-top: 5px;
}
.home_post ul .center_third article .full_in  p{
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: none;
	color: #756767;
	text-align: justify;
	line-height: 1.2em;
}
.home_post ul .center_third article .full_in footer{
	margin-bottom: 10px;
}
.home_post ul .center_third article .full_in footer a{
	text-decoration: none;
	color: #F4C44F;
}

#hr_B{
	width: 100%;
	height: 100px;
	display: block;
	margin-top: 100px;
	border: none;
}



.main_footer_A{
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	padding: 40px;
	padding-top: 65px;
	padding-bottom: 7px;
}
.main_footer_A footer{
	
}
.main_footer_A footer .one_quater_first{
	width: 220px;
	height: auto;
	float: left;
	margin-top: -9px;
	margin-left: -82px;
	margin-right: +64px;
}
.main_footer_A footer .one_quater_first article{
	width: 270px;
	height: auto;
}
.main_footer_A footer .one_quater_first  article h3{
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 35px;
	font-weight: bold;
}
.main_footer_A footer .one_quater_first  article p{
	color: #CBCBCB;
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 1.2em;
}
.main_footer_A footer .one_quater_first article .p1{
	position: relative;
	margin-top: 54px;
}
.main_footer_A footer .one_quater_first article .p2{
	position: absolute;
	width: 230px;
}
.main_footer_A footer .one_quater_first .footer_article_a{
	margin-bottom: 50px;
}







.main_footer_A footer .one_quater_second{
	width: 230px;
	height: auto;
	float: left;
	margin-top: -15px;
	padding-left: 10px;
}
.main_footer_A footer .one_quater_second ul{
	list-style: none;
	margin-bottom: 50px;
}
.main_footer_A footer .one_quater_second ul li{
	text-decoration: none;
}
.main_footer_A footer .one_quater_second ul .footer_li{
	width: 300px;
	height: auto;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 12px;
}
.main_footer_A footer .one_quater_second  article ul li h3{
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 35px;
	font-weight: bold;
	padding-left: 15px;
}
.main_footer_A footer .one_quater_second  article ul li img{
	width: 15px;
	height: 15px;
	display: inline;
}
.main_footer_A footer .one_quater_second  article ul li p{
	color: #CBCBCB;
}
.main_footer_A footer .one_quater_second  article ul li .footer_img_A{
	position: relative;
}
.main_footer_A footer .one_quater_second  article ul li .location_wrap{
	position: absolute;
	margin-top: -24px;
	margin-bottom: 5px;
	margin-left: 35px;
	width: 190px;
	
}
.main_footer_A footer .one_quater_second  article ul li .footer_img_B{
	position: relative;
	margin-top: 14px;
}
.main_footer_A footer .one_quater_second  article ul li .number_footer{
	position: absolute;
	margin-top: -24px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.hr_B{
	margin: 0px;
	padding: 0px;
	line-height: 5px;
	border: none;
	width: 320px;
	height: 22px;
}
.main_footer_A footer .one_quater_second  article ul li .footer_img_C{
	position: relative;
}
.main_footer_A footer .one_quater_second  article ul li .fax_wrap{
	position: absolute;
    margin-left: 35px;
    margin-top: -22px;
}
.main_footer_A footer .one_quater_second  article ul li .footer_img_D{
	position: relative;
}
.main_footer_A footer .one_quater_second  article ul li .email_footer{
	position: absolute;
	margin-left: 35px;
    margin-top: -22px;
}





.main_footer_A footer .one_quater_third{
	width: 230px;
	height: auto;
	float: left;
	display: inline-block;
	padding-left: 32px;
}
.main_footer_A footer .one_quater_third ul{
	list-style: none;
	margin-bottom: 50px;
	margin-top: 50px;
}
.main_footer_A footer .one_quater_third h3{
	color: #ffffff;
	margin-bottom: 25px;
}
.main_footer_A footer .one_quater_third ul li{
	margin-bottom: 23px;
}
.main_footer_A footer .one_quater_third ul li a{
	text-decoration: none;
	color: #F4BF38;
	font-size: 17px;
	display: block;
}



.main_footer_A footer .one_quater_four{
	width: 230px;
	height: auto;
	float: right;
}
.main_footer_A footer .one_quater_four h3{
	color: #ffffff;
}
.main_footer_A footer .one_quater_four .tp_last_h3{
	margin-bottom: 50px;
}
.main_footer_A footer .one_quater_four ul{
	list-style: none;
	margin-bottom: 50px;
}
.main_footer_A footer .one_quater_four ul li{
	
}
.main_footer_A footer .one_quater_four ul li a{
	text-decoration: none;
}
.main_footer_A footer .one_quater_four ul .last_li_A article{
	
}
.main_footer_A footer .one_quater_four ul .last_li_A article h3 a{
	color: #F4BF38;
	margin-bottom: 0px;
}
.main_footer_A footer .one_quater_four ul .last_li_A article time{
	color: #CBCBCB;
}
.main_footer_A footer .one_quater_four ul .last_li_A article p{
	color: #CBCBCB;
	margin-top: 10px;
	margin-bottom: 23px;
}

.main_footer_A footer .one_quater_four ul .last_li_B{
	
}
.main_footer_A footer .one_quater_four ul .last_li_B article{
	
}
.main_footer_A footer .one_quater_four ul .last_li_B article h3 a{
	color: #F4BF38;
}
.main_footer_A footer .one_quater_four ul .last_li_B time{
	color: #CBCBCB;
}
.main_footer_A footer .one_quater_four ul .last_li_B p{
	color: #CBCBCB;
	margin-top: 10px;
}




.main_last_footer{
	width: 100%;
	height: auto;
	background: #222222;
	padding: 10px;
	padding-top: 24px;
	padding-bottom: 39px;
}
.main_last_footer .contain footer .main_footer_pa{
	float: left;
	color: #676767;
	margin-left: -49px;
}
.main_last_footer .contain footer .main_footer_a{
	text-decoration: none;
	list-style: none;
	color: #676767;
}
.main_last_footer .contain footer .main_footer_pb{
	float: right;
	color: #676767;
	margin-right: -20px;
}
.main_last_footer .contain footer .main_footer_b{
	text-decoration: none;
	list-style: none;
		color: #676767;
}















































